.main {
  display: flex;
}

.left {
  background-color: #a2c5eb;
  width: 70%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  background-color: #94bae3;
  width: 30%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 70%;
  margin-right: 30px;
}
